* {
    margin: 0;
    padding: 0;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "돋움", sans-serif;
    -webkit-touch-callout: none;
    
}
body, div, nav, aside, article, h1, h2, h3, h4, ol, ul, li, dl, dt, dd, p, span, form, th, td, input, textarea, select, pre, address {
    font-size: 12px;
    letter-spacing: -0.5px;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.divider{
    width: 1px;
    margin: 0px 10px 0px 0px;
    background-color: #e3e3e3;

}
header > .container{
    width: 1512px;
    /* height:50px; */
    margin:auto;
    margin-bottom: 0;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.container > .logo img{
    margin-bottom: 0;
    height:auto;
    width:170px;
}

.container > .menu{
    height:80px;
    width:500px;
    /* margin-left:170px; */
    display:flex;
    flex-direction: row;


}

.container > .menu ul {
	/* margin-top: 30px;
    margin-right:auto;
    margin-left:auto;
    display: block; */
    list-style-type: none;
    display:flex;
    flex-direction: row;
    margin-top:28px;
}

.container > .menu li{
    margin-right:auto;
    margin-left:auto;
	margin-left: 15px;

}

.container > .menu li a{
	text-decoration: none;
	color:black;
	font-weight:bold;
    text-align: center;
    font-size:15px;
    padding:5px;
}
.container > .menu li a:hover{
	text-decoration: none;
	color: #c62917;
	font-weight:bold;
}

.container > .icon{
    height:50px;
    width:100px;
    margin-right:5%;
    margin-top:28px;
    display:flex;
    flex-direction: row-reverse;
}
.container > .icon img{
    height:30px;
    display:block;
    margin-right:15px;
}
nav {
    width: 1512px;
    height: 230px;
    background-color:#f5f5f5;
    display:flex;
    justify-content:center;
    position: relative;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.submenu {
    display: flex;
    justify-content:center;
    background-color: #f5f5f5;
    padding:15px;
    width: 100%; 
    box-sizing: border-box;
}

.group {
    /* flex: 1; */
    /* min-width: 200px; */
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    text-align: left;
}


nav ul li a {
    text-decoration: none;
    color:#f5f5f5;
    display: block;
    padding: 4px;
    background: #f5f5f5;
    border-radius: 5px;
    max-width: 130px;
    width: 122px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
nav ul li a:first-child {
    padding-top: 3px;
}

nav ul li a:hover {
    color: #c62917;
}

section{
    /* @ */
    /* width:780px; */
    margin-top: 20px;
    /* margin-left:5%;*/
}  

section > .title{
    margin-bottom:5px;
    padding:15px;  
    border:1px solid #d6d6d6;
    box-sizing:border-box;
}

article{
    margin-bottom:5px;
    padding:25px;
    border:1px solid #d6d6d6;
    box-sizing:border-box;

}
main{
    width:1512px;
    display: flex;
    gap: 20px;
    justify-content:center;
}
.title-write{
    width: auto;
    background: white;
    padding: 15px;
    border:1px solid #ddd;
    height: auto;
    margin:0 0 5px;
    /* display: flex;
    justify-content:space-around; */
}
.title-write h1{
    font-size: 24px;
    font-weight: bold;
}
.write{
    width: 800px;
    background: white;
    /* padding: 15px 0; */
    border: 1px solid #ddd;
}

.post {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.profile-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.profile-status{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    align-items: center;
}
/* .article1{
    margin-bottom:5px;
    padding:25px;
    border:1px solid #d6d6d6;
    box-sizing:border-box;

} */
.article1{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.article1:last-child{
    border-bottom: none;
}
.article1 img {
    width: 20px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}
.profile1-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.article1-content{
    font-size: 14px;
    margin-bottom: 10px;
}


.username {
    font-size: 16px;
    font-weight: bold;
}
.username1{
    font-size: 12px;
    font-weight: bold;
}

.timestamp {
    font-size: 12px;
    color: gray;
}


.messagesend{
    font-size: 12px;
    color: gray;
}

.abuse{
    font-size: 12px;
    color: gray;
}
.answer{
    font-size: 12px;
    color: gray;
}
.emotion{
    font-size: 12px;
    color: gray;
}
.time{
    font-size: 12px;
    color: gray;
}
.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-content {
    font-size: 14px;
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    gap: 10px;
}

.mini-actions{
    display:flex;
    gap:5px;
    margin: 15px 0 15px 0;

}
.mini-like, .mini-write, .mini-scrap {
    border: none;
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 0;
    font-size: 12px;
    
}
.mini-actions img{    
    /* padding: 0 5px; */
    width: 13px;
    height: auto;

}

.scrap, .like {
    background: #f9f9f9;
    border: none;
    cursor: pointer;
    min-width: 70px;
    display: flex;
    justify-content: center;
    gap: 7px;
    padding: 6px 10px;
    border-radius: 8px;
}
button > div img{
    width: 15px;
    height: auto;
}

.comment-section {
    /* margin-top: 20px; */
    width: calc(100% - 45px);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px 10px 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.comment-input {
    flex-grow: 1;
    /* padding: 10px; */
    border: none;
    font-size: 14px;
    background-color: unset;
    
}
form{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.submit-comment {
    background-color: #ff4500;
    color: white;
    padding: 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.submit-comment > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-comment > div > img {
    width: 100%;
    height: 100%;
}

.styled-list-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid red;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0 10px 0 10px;  
    height: 35px;
    line-height: 35px;
}

.styled-list-button span {    
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 3px;
}

.styled-list-button:hover {
    background-color: #ffe5e5;
    cursor: pointer;
}

.styled-list-button img {
    width: 12px;  
    height: auto;
    margin-left: 0; 
}

.list-icon {
    width: 20px;
    height: 20px;
}
/* aside{
    position:relative;
    width: 400px;
    margin-top: 20px;
    /* margin-right:10%;} */

aside {
    position: relative;
    float: right;
    width: 400px;
    margin-top: 20px;
    font-family: 'Apple SD Gothic Neo', sans-serif;
}

.famous,
.hot,
.best,
.news,
.review {
    border: 1px solid #d6d6d6;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.section-title,
.hot .header h2,
.best .header h2,
.news h2,
.review .header h2 {
    font-size: 14px;
    font-weight: bold;
    color: #056ab5;
    padding: 12px 10px;
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
    line-height: 20px;
}

.famous-item,
.school-post,
.lecture-review {
    border-bottom: 1px solid #eee;
    padding: 12px 10px;
}

.famous-item:last-child,
.school-post:last-child,
.lecture-review:last-child,
.hot .list li:last-child {
    border-bottom: none;
}

.famous .title {
    font-weight: bold;
    font-size: 13px;
    color: #333;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.famous .excerpt {
    font-size: 12px;
    color: #737373;
    line-height: 16px;
    margin-bottom: 6px;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
}

.meta .category {
    color: #a6a6a6;
    font-size: 11px;
    font-weight: bold;
}

.vote {
    display: flex;
    gap: 8px;
}

.vote span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.vote img {
    height: 14px;
    width: 14px;
}

.hot .header,
.best .header,
.review .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.header a {
    font-size: 13px;
    color: #666;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.hot .list {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.hot .list li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: 13px;
}

.hot .list li:last-child {
    border-bottom: none;
}

.hot .list li a {
    display: flex;
    justify-content: space-between;
    color: #333;
    text-decoration: none;
}

.hot .date {
    font-size: 12px;
    color: #888;
}

.news .badge {
    display: inline-block;
    background-color: #ffe4b5;
    color: #000;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.news .title {
    font-weight: bold;
    font-size: 14px;
    color: #222;
    margin: 5px 0;
}

.desc {
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}

.review .stars {
    font-size: 14px;
    color: #f9b100;
    margin-bottom: 5px;
}

.review .title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #222;
}

.review .desc {
    font-size: 13px;
    color: #555;
}

.footer{
    background-color: #f9f9f9;
    padding: 32px 0;    
    font-size: 13px;
    color: #888;
}

.footer-inner {
    width: 100%;
    max-width: 800px;
    /* margin: 0 auto; */
    line-height: 1.6;
    padding: 40px 32px 60px;
    margin: 0px 170.4px;
}

.company {
    font-weight: bold;
    color: #555;
    font-size: 14px;
    margin-bottom: 6px;
}

.info {
    margin-bottom: 12px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.links a {
    color: #555;
    text-decoration: none;
}

.links span {
    color: #555;
}


a:link,
a:visited {
	color: black;
    text-decoration: none;
}

#text-input {
    padding:10px 10px;
    width: calc(100% - 25px);
}
.hamburger, header h2{
    display: none;
}

@media(max-width:640px){
    html, body{
        font-size: 14px;
        margin: 0;
        padding: 0;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .container{
        height: 50px;
    }
    .hamburger{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 10px 10px 15px
        /* border-bottom: 1px solid #e3e3e3; */
    }
    .hamburger > img{
        width: 25px;
        height: auto;
    }
    .hamburger h2{
        font-size: 18px;
        font-weight: normal;
        margin-left: 15px;
        display: flex;
    }
    .logo, .menu, .icon, .title-write, aside{
        display: none !important;
    }
    nav{
        display: flex;
        height: 199.2px;
        width: 100%;
        justify-content: space-between;
        font-size: 12px;
        border-bottom: 1px solid #e3e3e3;
    }

    nav .submenu{
        width: 100%;
        display: flex;
        text-align: left;
        padding: 5px;      
        justify-content: left;
    }
    nav .submenu a{
        width: 112px;
        text-align: left;
        flex: 0 0 auto;
    }
    nav .submenu .divider{
        flex: 0 0 auto;
        width: 1px;
        margin: 0px 10px 0px 0px;
        background-color: #e3e3e3;
    }
    nav .group:nth-child(n+8){
        display: none;
    }
    nav .divider:nth-child(n+9){
        display: none;
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .write{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* margin-top: 0; */
    }
    
    .post{
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        font-size: 14px;
        white-space: nowrap;
    }
    .profile-list{
        display: flex;
        justify-content: space-between;  
        align-items: center;
        width: 100%;
    }
    .profile{
        display: flex;
        justify-content: space-between;  
        align-items: center;
        width: 100%;
    }
    .profile-info{
        display: flex;
    }
    .profile-status{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 8px;
        margin-left: 360px;
    }
    .profile1{
        width: 100%;
        display: flex;
        justify-content: space-between;  
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
    }
    section{
        background-color: #f9f9f9;
    }  
    .footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footer-inner{
        width: 90%;
        margin: 0;
        padding: 40px 32px 60px;
        
    
    }

}