* {
    margin: 0;
    padding: 0;
    font-family: "Apple SD Gothic Neo", "맑은 고딕", "돋움", sans-serif;
    -webkit-touch-callout: none;
    
}
body, div, nav, aside, article, h1, h2, h3, h4, ol, ul, li, dl, dt, dd, p, span, form, th, td, input, textarea, select, pre, address {
    font-size: 12px;
    letter-spacing: -0.5px;
    
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.divider{
    width: 1px;
    margin: 0px 10px 0px 0px;
    background-color: #e3e3e3;

}
header > .container{
    width: 1512px;
    /* height:50px; */
    margin:auto;
    margin-bottom: 0;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

.container > .logo img{
    margin-bottom: 0;
    height:auto;
    width:170px;
}

.container > .menu{
    height:80px;
    width:500px;
    /* margin-left:170px; */
    display:flex;
    flex-direction: row;


}

.container > .menu ul {
	/* margin-top: 30px;
    margin-right:auto;
    margin-left:auto;
    display: block; */
    list-style-type: none;
    display:flex;
    flex-direction: row;
    margin-top:28px;
}

.container > .menu li{
    margin-right:auto;
    margin-left:auto;
	margin-left: 15px;

}

.container > .menu li a{
	text-decoration: none;
	color:black;
	font-weight:bold;
    text-align: center;
    font-size:15px;
    padding:5px;
}
.container > .menu li a:hover{
	text-decoration: none;
	color: #c62917;
	font-weight:bold;
}

.container > .icon{
    height:50px;
    width:100px;
    margin-right:5%;
    margin-top:28px;
    display:flex;
    flex-direction: row-reverse;
}
.container > .icon img{
    height:30px;
    display:block;
    margin-right:15px;
}
nav {
    width: 1512px;
    height: 230px;
    background-color:#f5f5f5;
    display:flex;
    justify-content:center;
    position: relative;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.submenu {
    display: flex;
    justify-content:center;
    background-color: #f5f5f5;
    padding:15px;
    width: 100%; 
    box-sizing: border-box;
}

.group {
    /* flex: 1; */
    /* min-width: 200px; */
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    text-align: center;
    text-align: left;
}


nav ul li a {
    text-decoration: none;
    color:#f5f5f5;
    display: block;
    padding: 4px;
    background: #f5f5f5;
    border-radius: 5px;
    max-width: 130px;
    width: 122px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
nav ul li a:first-child {
    padding-top: 3px;
}

nav ul li a:hover {
    color: #c62917;
}


section{
    position:relative;
    float:left;
    /* width:780px; */
    margin-top: 20px;
    /* margin-left:5%;*/
}  

section > .title{
    margin-bottom:5px;
    padding:15px;  
    border:1px solid #d6d6d6;
    box-sizing:border-box;
}

article{
    margin-bottom:5px;
    padding:25px;
    border:1px solid #d6d6d6;
    box-sizing:border-box;

}
main{
    width:1512px;
    display: flex;
    gap: 20px;
    justify-content:center;
}
/* title{
    width: auto;
    background: white;
    padding: 15px;
    border:1px solid #ddd;
    height: auto;
    margin:0 0 5px;
    /* display: flex;
    justify-content:space-around;} */


.title a{
    font-size: 24px;
    font-weight: bold;
}
.question1 {
    width: 800px;
    background: white;
    /* padding: 15px 0; */
    border: 1px solid #ddd;
    margin-bottom:5px;
    padding:25px;
    border:1px solid #d6d6d6;
    box-sizing:border-box;
    display: flex;
    flex-direction: column;
    align-items: left; 
    gap: 20px;
}
.question1 img{
    height:30px;
    float:left;
    display:block;
    margin-left:15px;
    
} 
.question1 a{
    text-decoration: none;
    color:#666;
    text-align:left;
    font-weight:bold;
    font-size:10px;
    padding:5px;
} 
.question2,
.question3 {
    display: flex;
    align-items: left; 
    gap: 10px;  
}

.question2 .item{
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 10px 15px;
    background:#EDFFFE;
    opacity: 80%;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap; 
}
.question3{
    width: 100%;
    display: flex;
    justify-content:left;
    text-align: left;
}

.question3 .item {
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 10px 15px;
    background:#FFF3F3;
    opacity: 80%;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
}
.item-vote{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: #c62917;

}
.item-vote img{
    height: 11px;
    width: 11px;
    margin-left: 0;
    padding-right: 2px;

}

.question2 .item a,
.question3 .item a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
    overflow: auto;
}

.write {
    margin-bottom: 5px;
    padding: 10px 15px;
    border: 2px solid #d6d6d6;
    box-sizing: border-box;
    background: #f9f9f9;
    color: #a6a6a6;
    
}

.write form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.write input[type="text"] {
    border: none;
    outline: none;
    background: #f9f9f9;
    font-size: 14px;
    color: #888;
    width: 100%;
}

.write img {
    width: 40px;
    height: auto;
    margin-left: 10px;
}

/* article{
    margin-bottom:5px;
    padding:25px;
    border:1px solid #d6d6d6;
    box-sizing:border-box;

} */
.article-list {
    width: 800px;
    background: white;
    /* padding: 16px 24px; */
    border: 1px solid #d6d6d6;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.article {
    padding: 16px 0;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    width: 100%;
}

.article:last-child {
    border-bottom: none;
}

.article .title1 {
    font-size: 16px;
    font-weight: bold;
    color: #111;
    margin-bottom: 6px;
    padding: 0 24px;
}

.article .excerpt {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    word-break: break-word;
    padding: 0 24px;
}

.article .meta {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 12px;
    color: #888;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px;
}

.article .meta .comment {
    display: flex;
    align-items: center;
    gap: 4px;
}

.article .meta .comment img {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
aside {
    position: relative;
    float: right;
    width: 400px;
    margin-top: 20px;
    font-family: 'Apple SD Gothic Neo', sans-serif;
}

.famous,
.hot,
.best,
.news,
.review {
    border: 1px solid #d6d6d6;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.section-title,
.hot .header h2,
.best .header h2,
.news h2,
.review .header h2 {
    font-size: 14px;
    font-weight: bold;
    color: #056ab5;
    padding: 12px 10px;
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
    line-height: 20px;
}

.famous-item,
.school-post,
.lecture-review {
    border-bottom: 1px solid #eee;
    padding: 12px 10px;
}

.famous-item:last-child,
.school-post:last-child,
.lecture-review:last-child,
.hot .list li:last-child {
    border-bottom: none;
}

.famous .title {
    font-weight: bold;
    font-size: 13px;
    color: #333;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.famous .excerpt {
    font-size: 12px;
    color: #737373;
    line-height: 16px;
    margin-bottom: 6px;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
}

.meta .category {
    color: #a6a6a6;
    font-size: 11px;
    font-weight: bold;
}

.vote {
    display: flex;
    gap: 8px;
}

.vote span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.vote img {
    height: 14px;
    width: 14px;
}

.hot .header,
.best .header,
.review .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
}

.header a {
    font-size: 13px;
    color: #666;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.hot .list {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.hot .list li {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    font-size: 13px;
}

.hot .list li:last-child {
    border-bottom: none;
}

.hot .list li a {
    display: flex;
    justify-content: space-between;
    color: #333;
    text-decoration: none;
}

.hot .date {
    font-size: 12px;
    color: #888;
}

.news .badge {
    display: inline-block;
    background-color: #ffe4b5;
    color: #000;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.news .title {
    font-weight: bold;
    font-size: 14px;
    color: #222;
    margin: 5px 0;
}

.desc {
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}

.review .stars {
    font-size: 14px;
    color: #f9b100;
    margin-bottom: 5px;
}

.review .title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #222;
}

.review .desc {
    font-size: 13px;
    color: #555;
}

.footer{
    background-color: #f9f9f9;
    padding: 32px 0;    
    font-size: 13px;
    color: #888;
}

.footer-inner {
    width: 100%;
    max-width: 800px;
    /* margin: 0 auto; */
    line-height: 1.6;
    padding: 40px 32px 60px;
    margin: 0px 170.4px;
}

.company {
    font-weight: bold;
    color: #555;
    font-size: 14px;
    margin-bottom: 6px;
}

.info {
    margin-bottom: 12px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.links a {
    color: #555;
    text-decoration: none;
}

.links span {
    color: #555;
}


a:link,
a:visited {
	color: black;
    text-decoration: none;
}

#text-input {
    padding:10px 10px;
    width: calc(100% - 25px);
}
.hamburger, header h2{
    display: none;
}
@media(max-width:640px){
    html, body{
        font-size: 14px;
        margin: 0;
        padding: 0;
        width: 100%;
        /* overflow: hidden; */
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar-track {
        display: none;
    }
    ::-webkit-scrollbar-button{
        display: none !important;
    }
    ::-webkit-scrollbar-thumb {
        display: none;
    }
    .container{
        height: 50px;
    }
    .hamburger{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 10px 10px 15px
        /* border-bottom: 1px solid #e3e3e3; */
    }
    .hamburger > img{
        width: 25px;
        height: auto;
    }
    .hamburger h2{
        font-size: 18px;
        font-weight: normal;
        margin-left: 15px;
        display: flex;
    }
    .logo, .menu, .icon, .title-write, aside, .title{
        display: none !important;
    }
    nav{
        display: flex;
        height: 199.2px;
        width: 100%;
        justify-content: space-between;
        font-size: 12px;
        border-bottom: 1px solid #e3e3e3;
    }

    nav .submenu{
        width: 100%;
        display: flex;
        text-align: left;
        padding: 5px;      
        justify-content: left;
    }
    nav .submenu a{
        width: 112px;
        text-align: left;
        flex: 0 0 auto;
    }
    nav .submenu .divider{
        flex: 0 0 auto;
        width: 1px;
        margin: 0px 10px 0px 0px;
        background-color: #e3e3e3;
    }
    nav .group:nth-child(n+8){
        display: none;
    }
    nav .divider:nth-child(n+9){
        display: none;
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .question1{
        width: 100%;
    }
    .question2{
        /* width: 100%; */
        overflow: scroll;
        -ms-overflow-style: none;
    }
    .question3{
        /* width: 100%; */
        overflow: scroll;
        -ms-overflow-style: none;
        width: 100%;
        display: flex;
        justify-content:left;
        text-align: left;
    }
    .item{
        width: 100%;
        display: flex;
        justify-content:left;
        text-align: left;
        padding: 12px;
    }
    .item a{
        text-align: left;
    }
    .item a span{
        text-align: left;
    }
    .item img{
        width: 11px;
        height: auto;
        margin-left: 0;
        padding-right: 2px;

    }
    .item-vote{
        display: flex;
        justify-content: center;
        font-size: 11px;
        color: #c62917;
        align-items: center;
    }
    .write{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    section{
        width: 100%;
    }
    .article-list{
        width: 100%;
    }
    .article{
        width: 100%;
    }
    .title{
        width: 100%;
    }
    
    .excerpt{
        width: 100%;
    }
    .meta{
        width: 100%;
    }
    .footer{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .footer-inner{
        width: 90%;
        margin: 0;
        padding: 40px 32px 60px;
        
    
    }
    }

